In [32]:
import pandas as pd

In [40]:
df = pd.read_parquet('detected_faces.parquet')

In [34]:
df['cords'] = df['cords'].apply(lambda x: eval(x))

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38927 entries, 0 to 38926
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   image_name  38927 non-null  object
 1   cords       38927 non-null  object
dtypes: object(2)
memory usage: 608.4+ KB

In [36]:
df['len'] = df['cords'].apply(lambda x: len(x))

In [37]:
df['len'].value_counts().sort_index()

len
4    38927
Name: count, dtype: int64

In [38]:
df

                         image_name                cords  len
0      37757795_1954-05-04_1980.jpg  (112, 62, 230, 230)    4
1      27489779_1926-08-27_1978.jpg     (25, 26, 68, 68)    4
2      34556536_1989-11-10_2011.jpg   (79, 55, 113, 113)    4
3       2429090_1962-09-01_1986.jpg   (48, 30, 141, 141)    4
4      38499858_1960-09-06_2002.jpg   (75, 53, 185, 185)    4
...                             ...                  ...  ...
38922   6851487_1949-01-01_2011.jpg     (19, 10, 52, 52)    4
38923   6851487_1949-01-01_2011.jpg   (61, 38, 135, 135)    4
38924  27208938_1965-11-13_2011.jpg   (85, 55, 193, 193)    4
38925  19708224_1986-03-05_2015.jpg   (85, 84, 282, 282)    4
38926  24196494_1991-02-04_2010.jpg     (25, 15, 57, 57)    4

[38927 rows x 3 columns]

In [43]:
df[['image_name', 'cords']].to_parquet('detected_faces.parquet')